<div class="title">
  <p class="title-f">Jokemaster 3000</p>
  <p class="title-f">OpenAi (ChatGpt)</p>
</div>
<div id="app" class="app">
  <div id="chat_container"></div>
  <p>{{ joke }}</p>
  <app-mat-spinner-overlay overlay="true" *ngIf="jokeLoading">
  </app-mat-spinner-overlay>
  <div class="formc">
    <form [formGroup]="form" (submit)="$event.preventDefault()">
      <mat-form-field appearance="fill">
        <mat-label>Joke topic</mat-label>
        <input matInput type="text" name="jokeInputfield" formControlName="jokeInputfield" [(ngModel)]="jokeInput.textfield">
        <mat-hint *ngIf="questionAutofilled">Autofilled!</mat-hint>
      </mat-form-field>
      <button mat-raised-button (click)="loadJoke()"><img src="assets/send.svg"></button>
    </form>
  </div>
</div>
